@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-green: hsl(75, 94%, 57%);
  --color-grey-700: hsl(0, 0%, 20%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-900: hsl(0, 0%, 8%);
  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-grey-900);
  font-size: 14px;
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 360px;
  gap: 26px;
  background-color: var(--color-grey-800);
  padding: 40px 24px;
  border-radius: 20px;
  text-align: center;
}

main img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

.content .name {
  color: var(--color-white);
  font-weight: var(--font-weight-700);
  font-size: 24px;
}

.content .location {
  color: var(--color-green);
  font-weight: var(--font-weight-600);
  font-size: 16px;
  margin: 10px 0 20px;
}

.content .description {
  color: var(--color-white);
  font-weight: var(--font-weight-400);
  font-size: 12px;
}

ul {
  list-style-type: none;
  font-weight: var(--font-weight-600);
  color: var(--color-white);
}

ul li {
  background-color: var(--color-grey-700);
  border-radius: 10px;
  padding: 10px 0;
  margin-top: 10px;
  transition: all 0.5s;
}

ul li:hover {
  background-color: var(--color-green);
  color: var(--color-grey-900);
  cursor: pointer;
}
